# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Diretório de dependências do Node
node_modules

# Arquivos de build do Capacitor (serão gerados na nuvem)
android/
ios/

# Arquivos de IDE e editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de cache e temporários diversos
.cache
.tmp
.eslintcache